<div class="home-background-slate"></div>
<div class="main-content ui page grid">
    <div class="valigned">
        <img src="/images/semquery_logo_shadow.png" class="llogo"></img>
        <br>
        <form action="/query" method="POST">
            
            <div id="repo-search" class="ui search">
                <div class="ui icon input">
                    <input id="repo-input" class="prompt" type="text" placeholder="user/repository"
                    autocomplete="off" spellcheck="false" autofocus />
                    <i class="github icon"></i>
                    <i class="code icon" style="top: 50px"></i>
                </div>
            </div>
            <input id="repo-form-value" type="hidden" name="repo">
            <input id="query-form-value" type="hidden" name="q">
        </form>
    </div>
</div>
<div class="ui inverted vertical segment about-segment">
    <h1 class="jumbo-text light-text">Semantic Code Search</h1>
    <div class="ui grid columns-desc">
        <div class="column three wide">
            <h2 class="light-text">Accurate</h2>
            <p>
                Construct more accurate and descriptive
                queries than text or regex-based search.
            </p>
        </div>
        <div class="column three wide">
            <h2 class="light-text">Language Agnostic</h2>
            <p>
                Search across multiple languages
                with a single query.
            </p>
        </div>
        <div class="column three wide">
            <h2 class="light-text">Comprehensive</h2>
            <p>
                SemQuery lets you search any syntax element
                through full parsing of source files.
            </p>
        </div>
</div>
