<div class="sunset-background-slate background-slate-fixed"></div>
<div class="query-container ui container" style="margin-left: 10%; margin-right: 10%">
     <div class="ui vertical menu">
            {{ range $index, $element := .Repos }}
                <div id="active teal item"> {{ $element }} </div> 
            {{ end }}
     </div>
</div>
