<div id="search-container" class="ui container">
    <div>
        <span class="search-title">
            {{ if .Source.Git }}
                {{ if .Source.Git.IsGitHub }}
                    <i class="github icon"></i>
                    {{ .Source.Git.GitHubUser }}
                    <span class="sep">/</span>
                    {{ .Source.Git.GitHubRepo }}
                {{ else }}
                    <i class="git icon"></i>
                    {{ .Source.Git.URL.String }}
                {{ end }} 
            {{ end }}
        </span>
        <div class="repo-info-container">
            <div class="repo-info">
                <div>
                    <b>LAST INDEXED</b>
                </div>
                Two hours ago
            </div>
            <div class="repo-info">
                <div>
                    <b>GIT INFO</b>
                </div>
                3 branches
                <span class="ui floated left monospace">
                    2e8fd1
                </span>
            </div>
            <div class="repo-info">
                <div>
                    <b>STATS</b>
                </div>
                24,391 searches    
            </div>
        </div>
    </div>

    <div class="ui divider"></div>

    {{ if eq .SourceStatus "none" }}
    <div class="ui raised segment" align="center" id="message-segment">
        <h1 id="search-message">
            This repository hasn&rsquo;t been indexed yet.</h1>
        {{ if .IsLoggedIn }}
            <button id="index-source-button" class="ui huge green basic button">
                <span>Index Source</span>
                <div class="ui mini inline loader"></div>
            </button>
        {{ else }}
            <a href="/login?redirect_back=true" class="ui huge blue basic button">
                Sign in to index source
            </a>
        {{ end }}
    </div>
    {{ end }}
    <div class="unstarted ui raised segment" id="progress-segment">
        <div align="center">
            <div id="indexing-phase-queued">
                <div class="indexing-phase">
                    <span class="phase-indicator ui circular label">
                        <span>1</span>
                        <i class="check icon"></i>
                    </span>
                    <h1>
                        Queued for indexing...
                    </h1>
                </div>
            </div>
            <div id="indexing-phase-cloning" class="unstarted">
                <div class="ui divider"></div>
                <div class="indexing-phase">
                    <span class="phase-indicator ui circular label">
                        <span>2</span>
                        <i class="check icon"></i>
                    </span>
                    <h1>
                        Cloning repository...
                    </h1>
                </div>
            </div>
            <div id="indexing-phase-indexing" class="unstarted">
                <div class="ui divider"></div>
                <div class="indexing-phase">
                    <span class="phase-indicator ui circular label">
                        <span>3</span>
                        <i class="check icon"></i>
                    </span>
                    <h1>
                        Indexed
                        <span id="progress-lines-counter" class="monospace">0</span>
                        lines in
                        <span id="progress-files-counter" class="monospace">0</span>
                        files
                        (<span id="progress-percent-counter" class="monospace">0%</span>)
                    </h1>
                    <div id="progress-bar-container">
                        <div id="progress-bar" class="ui small blue progress" style="margin: 0">
                            <div id="bar" class="bar" style="width: 0%;">
                                <div id="progress-label" class="progress">0%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="ui raised segment" style="display: none">
        <div class="ui inverted left icon input" id="query-input-container">
            <input type="text" placeholder="Query" id="query-input">
            <i class="search icon"></i>
        </div>
    </div>
</div>
