<div class="ui inverted black vertical segment">
    <h1>
        Status:
        {{ .source_status }}
    </h1>
</div>

{{ if eq .source_status "none" }}
<div class="ui raised segment">
    There doesn&rsquo;t appear to be anything here.
    {{ if .loggedin }}
        <form action="/index_source" method="post">
            <input type="submit" class="ui huge green basic button" value="Index Source"></input>
        </form>
    {{ else }}
        <a href="/login" class="ui huge blue basic button">
            Sign in to index source
        </a>
    {{ end }}
</div>
{{ end }}
